body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e66465, #9198e5);
}

#main-canvas {
    width: 800px;
    height: 400px;
}